body {
  background-color: #121212;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #00bfff;
  text-align: center;
}

h2 {
  margin-top: 40px;
  border-bottom: 2px solid #00bfff;
  padding-bottom: 5px;
  text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    margin-top: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 30px;
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
  border-radius: 10px;
}

a {
  color: #00ffcc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.profil-img {
  width: 200px;
  margin: auto;
  display: block;
  border: 3px solid #00bfff;
}

.profil-img:hover {
  background: #00bfff22;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

nav {
  background-color: #1e1e1e;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #00ffcc;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.tech-icon {
  width: 35px;
  margin: 0 5px;
  border: 1px solid #00ffcc;
  display: inline-block;
  vertical-align: middle;
  background-color: #1e1e1e;
}

.tech-icon:hover {
  background: #00bfff22;
  transform: scale(1.05);
  transition: all 0.2s ease;
}
